@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family:"Play-Bold";
	src: url("../fonts/Play-Bold/Play-Bold.eot");
	src: url("../fonts/Play-Bold/Play-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Play-Bold/Play-Bold.woff") format("woff"),
	url("../fonts/Play-Bold/Play-Bold.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}