/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
	.skew,
	.fix .title,
	.fix .link {
		transform: inherit;
	}
}
@media only screen and (max-width : 1300px) {
	.slider_section .owl-nav .owl-prev {
		right: inherit;
		left: 0;
	}
	.slider_section .owl-nav .owl-next {
		left: inherit;
		right: 0;
	}
	.item_block .owl-prev {
		left: 5px;
	}
	.item_block .owl-next {
		right: 5px;
	}
	.slider_section .item {
		min-height: 700px;
		padding: 0;
		position: relative;
	}
	.slider_section .item .item_img_block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.contact_info_block {
		max-width: 506px;
		padding: 20px;
		margin: 0 auto;
		text-align: center;
	}
	a.contact_callback {
		margin: 10px auto;
	}
}
@media only screen and (max-width : 1200px) {
	header .search_block,
	header .contacts_block {
		display: none;
	}
	.gallery_block .prewiew_block {
		flex-direction: row;
	}
	.tovar_form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		padding-bottom: 30px;
	}
	.gallery_block {
		flex-direction: column-reverse;
		padding: 35px 10px;
	}
	.gallery_block .poto_block {
		width: 100%;
		height: auto;
	}
	.pagination_top_block .pagination {
		position: static;
		margin: 10px 0 20px;
		text-align: center;
	}
	.pagination_block .pagination {
		float: none;
		text-align: center;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about_section [class*='about_']::after {
		width: 130%;
		left: -80px;
	}
	.navigation_block {
		display: none;
	}
	.about_section [class*='about_'] {
		max-width: 493px;
		float: none;
		margin: 20px auto;
	}
	.skew,
	.fix .title,
	.fix .link {
		transform-origin: inherit;
	}
	.item_1 {
		min-width: inherit;
	}
	.slider_section .item h1 {
		font-size: 70px;
	}
	.item_2_block {
		justify-content: space-around;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.about_section [class*='about_'] {
		width: 300px;
		height: 350px;
	}
	.about_section [class*='about_']::after {
		left: -30px;
	}
	.skew,
	.fix .title,
	.fix .link {
		transform: inherit;
	}
	footer h4 {
		text-align: center;
		cursor: pointer;
	}
	footer h4:hover {
		text-decoration: underline;
	}
	footer ul {
		display: block;
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	footer .drop {
		display: none;
	}
	footer .info_block {
		text-align: center;
	}
	.slider_section .item h1 {
		font-size: 50px;
	}
	.slider_section .item_type {
		font-size: 35px;
	}
	.slider_section .item_img_block {
		width: 300px;
		height: 420px;
	}
	.slider_section .item {
		min-height: 500px;
	}

}
@media only screen and (max-width : 650px) {
	.drop_menu .cart_ul {
		display: block;
	}
	header .phone_block,
	header .cart_block {
		display: none;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.tovar_form .sell_block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.link_block {
		margin: 15px 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}